.pricing-main{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-left: 125px;
    margin-right: 125px;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
}
@media screen and (min-width:0px) and (max-width:770px){
    .pricing-main{
        margin: 0px;
        margin-top: 50px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.faq{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.faq-top{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.faqt-div{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid #5f6061b2;
}
.faq{
    background-color: rgb(255, 255, 255);
}
@media screen and (min-width:0px) and (max-width: 600px) {
    .faq-top{
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    .faqt-div{
        width: 85%;
    }
}
@media screen and (min-width:0px) and (max-width: 674px) {
    .faqt{
        font-size: 18px;
    }
}